<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if content.content_list %}
    <ul>
    {% for c in content.content_list %}
        <li><a href="{% url 'contentsApp:content' c.id %}">{{ c.Title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Noting is available.</p>
    {% endif %}
</body>
</html>
